<div class="reflect">
<%= form_with model: @book, url: edit_book_path(@book.id), method: :patch do |f| %>
<tr>
<h4>Title:<p><%= @book.title %></p></h4>



<h4>Body:<p><%= @book.body %></p></h4>

</tr>
</div>
<div class="show-link">
<div class="edit-link">
<span> <%= link_to "Edit" , edit_book_path(@book.id) %></span>
</div>
<span> <%= link_to "Back" , "/books" %></span>
<% end %>
</div>